main{
    padding: 5%;
    margin-bottom: 5%;
}


.about-me{
    white-space: pre-wrap;
    font-size: 1.3em;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

.project-section{
    white-space: pre-wrap;
    font-size: 1.3em;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

.projects-div{
    padding: 5%;
}
.imgs{
    width: 55vw;
    height: 55vh;
}